@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

body {
   background-color: rgb(55, 112, 112);
   user-select: none;
}

#container {
   align-items: center;
   margin: 50px auto;
   max-width: 60%;
   max-height: 90vh;
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   gap: 20px;
}

h1 {
   text-align: center;
   margin-top: 50px;
   font-family: 'Raleway';
   font-weight: 700;
   font-size: 40px;
   color: rgb(255, 255, 255);
   -webkit-text-stroke: 1px black;
   text-shadow: 2px 2px 5px black;
}

img{
   width: 145px;
   min-height: 225px;
   border: 1px solid gray;
   border-radius: 10px;
}
